[Unit]
Description=Update dual screen wallpaper
After=graphical.target
WantedBy=graphical.target

[Timer]
OnUnitActiveSec={WALLPAPER_TIMER}
Unit=wallpaper-update.service
Persistent=true

[Install]
WantedBy=timers.target
