[Unit]
Description=Update dual screen wallpaper

[Timer]
OnActiveSec={WALLPAPER_TIMER}
Unit=wallpaper-update.service

[Install]
WantedBy=timers.target
